@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
  height: 100%;
}
body{
	position: relative;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	vertical-align: baseline;
	line-height: normal;
	color: #FFF;
	overflow-x:hidden;
  padding: 0;
  min-height: 100%;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
}
h1{
  font-size: 80px;
  color: #FFF;
}
h2{

}
h3{
  font-size: 30px;
}
h4{

}
h5{

}
h6{

}
img{
	max-width: 100%;
	display: block;
}
ul, li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a, a:focus{
	outline: 0 none;
	color: #6e6e6e;
	text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="number"],
input[type="password"],
input[type="color"],
input[type="text"]{
	background-color: #d9d9d9;
	border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	padding: 10px 15px;
	border: 0 none;
	width: 100%;
	color: #fff;
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
}
::-webkit-input-placeholder {
   color: #fff;
   opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
   color: #fff;
   opacity: 1;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
   opacity: 1;
}
:-ms-input-placeholder {
   color: #fff;
   opacity: 1;
}
.smooth,
.needHelpInner > a,
.btn,
.moto-menu ul li a:after,
.footer-social > li a {
	transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
}


/*
======================================================================
  Header
======================================================================
*/
header {
	background-color: transparent;
  padding: 0;
  position: relative;
}
.moto-menu ul li {
  display: inline-block;
  margin: 0 20px;
}
.moto-menu ul {
  margin: 20px 0;
}
.moto-menu ul li a {
  color: #FFF;
  display: block;
  font-size: 22px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.moto-menu ul li a:hover{
	color: #FFF;
}
.moto-menu ul li a:after{
	border-bottom: 2px solid #FFF;
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left:0;
	width: 0;
}
.moto-menu ul li a:hover:after{
    width: 100%;
}
.moto-logo a {
  display: inline-block;
  margin-top: 21px;
}
.moto-logo img {
  display: inline-block;
  max-width: 300px;
  vertical-align: middle;
}
.moto-logo span,
.footer-logo span {
  color: #000000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 41px;
  font-weight: 300;
  margin-left: 12px;
  text-transform: uppercase;
  vertical-align: middle;
}


.moto-banner {
  background: rgb(33, 36, 41) none repeat scroll 0 0;
  padding: 60px 0 0;
}
.motoread-mobile > img {
  display: inline-block;
  margin-right: 80px;
}
.moto-banner h1 {
  color: #ffffff;
  font-size: 80px;
  margin: 35px 0 0;
}


.storeBtn img {
  max-height: 70px;
  display: inline-block;
}
.app-store-btns {
  background-color: #dbba47;
  background-image:url("../images/Triangles.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 56px 0;
}
.app-store-btns-inner {
  padding: 6px 0;
}

/* Article Section start here */
.articleSec-right {
  padding: 20px 0 0;
}
.articleSec-right img {
  display: block;
  margin: 0 auto 20px;
}
.articleSec-right h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.4;
}
.articleSec h1 {
  margin: 0;
	color: #091d25;
}
.articleSec {
	color: #091d25;
  padding: 70px 0;
  border-bottom:1px solid #091d25;
}
.articleSyns .articleSec-right img {
  max-width: 255px;
}
.listenArticle h3 {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.7;
  margin: 60px 0;
  text-align: center;
}


/* Need Help Section start here */
.needHelp {
  padding: 40px 0 140px;
  text-align: center;
	background-color: rgb(33, 36, 41);
}
.needHelpInner {
  margin: 0 auto;
  max-width: 930px;
  padding: 50px 20px;
}
.needHelpInner h3 {
  color: #ffffff;
  margin: 0 0 35px;
}
.needHelpInner > a {
  background: #309630 none repeat scroll 0 0;
  border-radius: 100px;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  max-width: 270px;
  padding: 10px 20px;
  font-weight: 300;
}
.needHelpInner > a:hover{
  background: #47e147 none repeat scroll 0 0;
  text-decoration: none;
}


/*footer style start here*/
.footer-social > li {
  color: #ffffff;
  display: inline-block;
  margin: 0 10px;
}
.footer-social > li {
  color: #ffffff;
  display: inline-block;
  margin: 0 10px;
}
.footer-social > li a {
  color: #ffffff;
  font-size: 22px;
}
.footer-social > li a:hover{
	opacity: 0.7;
}
.footer-social {
  display: inline-block;
  vertical-align: middle;
}
.footer {
	position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background: #000000 none repeat scroll 0 0;
}
.subscribe {
  display: inline-block;

}
.subscribe input{
	background: #fff;
	max-width: 160px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}
.footer .container {
	width: 100%;
	max-width: 1366px;
}
.footer-logo img {
  display: inline-block;
  height: 80px;
}

.subscribe button {
  background: #2d2d2d none repeat scroll 0 0;
  border-radius: 100px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin-left: 12px;
  padding: 6px 25px;
  border: 1px solid transparent;
}
.subscribe button:hover{
  border: 1px solid #fff;
  color: #fff;
}
.subscribe {
  display: inline-block;
  margin-left: 25px;
}
.footer-logo span {
  color: #ffffff;
  font-size: 40px;
}
.footer-logo a {
  display: inline-block;
}
.footer-logo {
  padding: 3px 0;
}

/*
======================================================================================
  Login page
======================================================================================
*/
.loginForm {
	background-color: rgba(33, 36, 41, 0.8);
  border: 1px solid #FFF;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 600px;
  padding: 50px;
  font-weight: 300;
}
.midde-box {
	background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
	border: 1px solid #dddddd;
	border-radius: 10px;
	margin: 0 auto;
	max-width: 600px;
	padding: 50px;
	color: #091d25;
}
.midde-box input {
	color: #091d25;
}
.loginWrap,
.accountPageWrap {
	padding: 70px 0 170px;
}
.accountPageWrap {
	background-color: #f1f1f1;
  background-image: url(../images/login-bg2.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: fixed;
  background-size: cover;
}
.loginForm h3,
.midde-box h3 {
  margin: 0 0 25px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.loginForm a {
	color: #fff;
}
.loginForm input.form-control {
  height: 44px;
  background: transparent;
  box-shadow: none;
  border: 1px solid #fff;
}
.loginForm label {
  font-weight: 300;
  margin: 0 0 5px;
}
.loginForm .btn {
  background: #000000 none repeat scroll 0 0;
  border: 0 none;
  color: #ffffff;
  display: block;
  height: 44px;
  width: 100%;
  text-transform: uppercase;
}
.loginForm .btn:hover{
  background: #2d2d2d;
}
span.error,
span.success {
  border: 1px dashed #ff0000;
  color: #ff0000;
  display: block;
  margin: 15px 0;
  padding: 8px 10px;
  background: rgba(255, 0, 0,0.08) none repeat scroll 0 0;
  text-align: center;
}
span.success {
  color: #008000;
  border-color: #008000;
  background: rgba(0, 128, 0,0.08) none repeat scroll 0 0;
}
.signupBtn {
  display: inline-block;
  margin: 15px 0 0;
}
.error_match {
  color: #ff0000;
  display: block;
  font-size: 13px;
  padding: 5px 0 0;
  position: relative;
  width: 100%;
}


.tableDiv {
        display: table;
        height: 100%;
        width: 100%;
    }
    .tableCellDiv {
          display: table-cell;
        vertical-align: middle;
        text-align: center;
        background: black;
        color: #fff;
        font-size: 35px;
        height: 100%;
        width: 100%;
    }
.loaderDots,
.loaderDots:before,
.loaderDots:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1s infinite ease-in-out;
  animation: load7 1s infinite ease-in-out;
}
.loaderDots {
  color: #fdb813;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loaderDots:before,
.loaderDots:after {
  content: '';
  position: absolute;
  top: 0;
}
.loaderDots:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loaderDots:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


/*
======================================================================================
  Account page style start here
======================================================================================
*/
.accountPageWrap label {
  font-weight: normal;
  padding-top: 8px;
}
.accountPageWrap .emailId {
  background: #eeeeee none repeat scroll 0 0;
  border-radius: 4px;
  padding: 10px 15px;
}
.accountPageWrap .accountBtns .btn {
  border: 1px solid #cccccc;
  box-sizing: border-box;
  height: 40px;
  line-height: 1.3;
  margin: 4px 0;
  padding: 10px 12px;
  width: 100%;
}
.accountPageWrap .accountBtns .btn:hover{
  color: #fff;
  background:#000;
  border-color: #000;
}
.accountPageWrap .accountBtns {
  margin-top: 20px;
}


/*
======================================================================================
  Articles style start here
======================================================================================
*/
.articlesWrap {
  color: #000;
  padding: 40px 0 100px;
}
.search-wrap input.form-control {
  color: #000;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #cccccc;
  padding: 5px 15px;
}
.search-wrap {
  margin: 0 0 30px;
}
.search-wrap .btn {
  background: #000;
  color: #fff;
  border-color: #000;
}
label.checkbox-inline {
  margin-left: 15px;
  padding: 7px 0;
}
label.checkbox-inline input[type="checkbox"] {
  left: -9999px;
  position: absolute;
  text-indent: -9999px;
}


label.checkbox-inline span {
  padding-left: 30px;
  position: relative;
}
label.checkbox-inline span::before {
  background: #cccccc none repeat scroll 0 0;
  border-radius: 4px;
  color: #ffffff;
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 13px;
  height: 20px;
  left: 0;
  padding: 2px 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}
label.checkbox-inline input[type="checkbox"]:checked + span::before {
  background: #000000 none repeat scroll 0 0;
  content: "ï€Œ"
}
.articlesDiv table.table th {
  background: #eeeeee none repeat scroll 0 0;
  color: #000000;
  font-weight: normal;
  padding: 15px 8px;
  text-transform: uppercase;
}
.articlesDiv table.table td {
  padding: 12px 8px;
  vertical-align: middle;
}
#pagination_container {
  text-align: center;
}
#pagination_container .pagination li.active a {
  background: #000;
  border-color: #000;
  color: #fff;
}

#pagination_container .pagination li a {
  color: #000000;
}

/*
======================================================================================
  My responsive style start here
======================================================================================
*/
@media (max-width: 1199px) {
h1,
.moto-banner h1 {
  font-size: 65px;
}
.listenArticle h3 {
  margin: 15px 0;
}
}


@media (max-width: 991px) {
.footer-logo span {
  font-size: 25px;
}
.footer-logo img {
  max-width: 70px;
}
h1, .moto-banner h1 {
	font-size: 50px;
}
.listenArticle h3 {
  margin: 0;
  font-size: 22px;
}
.articleSec-right h4 {
  font-size: 20px;
}
.footer-logo {
  padding: 12px 0;
}
.articleSec {
  padding: 50px 0;
}
.moto-logo span {
  font-size: 33px;
}
.moto-menu ul {
  margin: 12px 0;
}
}

@media (max-width: 767px) {
.footer {
  position: static;
}
.moto-banner {
  padding: 10px 0 0;
  text-align: center;
}
.moto-banner h1 {
  margin-bottom: 30px;
}
h1, .moto-banner h1 {
  font-size: 45px;
}
.app-store-btns {
  padding: 40px 0;
  background-size: cover;
}
.storeBtn img {
  margin-bottom: 25px;
}
.articleSec {
	padding: 40px 0;
  text-align: center;
}
.articleSec h1 {
  margin: 0 0 20px;
}
.footer-social {
  display: block;
  text-align: center;
}
.subscribe {
  margin: 20px 0;
  text-align: center;
  display: block;
}
.footer-logo {
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
}
.motoread-mobile {
  text-align: center;
}
.motoread-mobile img {
  margin:0px;
}
footer .col-sm-4.pull-right {
  float: none!important;
}
.footer-left {
  padding: 0;
}
.footer {
  padding: 15px 0 10px;
}
.subscribe button {
  margin-left: 6px;
}
.footer-logo img {
  max-width: 80px;
}
.footer-logo span {
  font-size: 32px;
}
}


@media (max-width: 640px) {

		header .col-xs-6 {
  display: block;
  float: none;
  width: 100%;
}
.moto-logo img {
  display: inline-block;
}
header{
	text-align: center;
}
.moto-menu {
  text-align: center;
}
.moto-menu ul {
  margin: 15px 0 5px;
}
header {
  padding: 10px 0 5px;
}

.subscribe input {
  margin-bottom: 7px;
}
}

@media (max-width: 479px) {
.loginForm {
  padding: 40px 30px;
}
.loginWrap{
  padding:50px 0;
}
}

body.login {
	background: #000 url('../images/motoread-login-bg.png') center center no-repeat;
}

body.main header {
	background: #000 url('../images/header-bg.jpg') center top no-repeat;
	background-size: auto;
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 1);
	-ms-box-shadow: inset 0 0 8px rgba(0, 0, 0, 1);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 1);
	text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

body.comingSoon {
	background: #000 url('../images/motoread-black-bg.png') center center no-repeat;
}
.comingSoonWrap {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	text-shadow: 1px 1px 5px rgb(0, 0, 0);
	font-size: 24px;
	padding-top: 100px;
}

.comingSoonWrap img {
	max-width: 200px;
	margin: 0 auto;
}
